.buy{
    display: flex;
    justify-content: flex-start;
}

.buy .info{
    flex: 60%;
}

.buy .poster{
    flex: 40%;
}

.a {
    padding: 30px;
    width: 100%;
}

.a a{
    text-decoration: none;
    color: rgb(172, 136, 136);
}